@tailwind base;

@tailwind components;

@tailwind utilities;

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    max-height: 50vh;
    overflow-y: scroll;
}
.maincontent{
    max-height: 80vh;
}

.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}
